# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.pytest_cache/

# macOS
.DS_Store

# VS Code
.vscode/

# Virtual Environment
venv/